
source/.idea/.gitignore.bak
/shelf/
/workspace.xml
/.idea
.gitignore.bak
source/mbox_text_formattig.py
source/bond_2.mp4
*.pyc
/source/dist
/source/build
/source/build_1
source/qtube.spec
*.exe
source/nothing_yet.py
source/qtube_backup_before_error_handle.py
*.bak
/output
source/my_video
*.mp4
